.cursor-pointer {
  cursor: pointer;

  &:hover {
    background-color: var(--bs-gray-50);
  }
}

.cursor-pointer {
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, box-shadow 0.25s ease-in-out, transform 0.25s ease-in-out;
  border-radius: 0.5rem;

  &:hover {
    background-color: rgba(173, 216, 230, 0.25);
    backdrop-filter: blur(6px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }
}

@media (max-width: 576px) {
  .container-fluid {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .table {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (max-width: 576px) {
  .col-12.col-sm-6.col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .card {
    padding: 1rem;
  }
}
